<!-- In your component's HTML file -->
<div class="search-container">
  <button style="margin: 10px" (click)="addMatch()">Add Match</button>
<!--  <button (click)="addTicket()">Add Team</button>-->
<!--  <button (click)="addTicket()">Add Ticket</button>-->
<!--  <button (click)="addTicket()">Add Ticket</button>-->
</div>


<div class="match-grid" style="margin: 20px">
  <div class="match-container" *ngFor="let match of data" (click)="openMatch(match.id)">
    <div class="teams">
      <span class="home-team">{{ match.homeTeam }}</span>
      <span class="vs">vs</span>
      <span class="away-team">{{ match.awayTeam }}</span>
    </div>
    <div class="result">{{ match.result }}</div>
    <div class="details">
      <span class="date">{{ match.date }}</span>
      <span class="league">{{ match.league }}</span>
    </div>
  </div>
</div>


<app-pagination [currentPage]="page"></app-pagination>
