/* In your component's CSS file or style section */
.match-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns with equal width */
  gap: 20px; /* Adjust the gap between cells as needed */
  justify-content: center; /* Center the grid horizontally */
}

.match-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.teams {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-team, .away-team {
  font-weight: bold;
  margin: 0 5px;
}

.vs {
  margin: 0 10px;
  font-weight: bold;
  color: #555;
}

.result {
  margin-top: 10px;
  font-weight: bold;
  color: #007bff; /* Blue color for win, you can change it based on your design */
}

.details {
  margin-top: 10px;
  text-align: center;
}

.date, .league {
  color: #888;
}


/* In your component's CSS file or style section */
.search-container {
  display: flex;
  justify-content: end;
  margin-bottom: 20px;
}

input[type="text"] {
  flex: 1; /* Take up the remaining space */
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
